:8080 {
    root * /app/public
    encode gzip

    # Healthcheck
    handle /health {
        respond "OK" 200
    }

    # WebSocket reverse proxy ke Xray (path preserved)
    reverse_proxy /vless-aero 127.0.0.1:3002
    reverse_proxy /vmess-aero 127.0.0.1:3003
    reverse_proxy /trojan-aero 127.0.0.1:3004

    # Static file server (dashboard)
    handle {
        file_server
    }
}
