:8080 {
    root * /app/public
    encode gzip

    # WebSocket reverse proxy ke Xray
    handle_path /vless-aero {
        reverse_proxy 127.0.0.1:3002
    }
    handle_path /vmess-aero {
        reverse_proxy 127.0.0.1:3003
    }
    handle_path /trojan-aero {
        reverse_proxy 127.0.0.1:3004
    }

    # Static file server (dashboard)
    handle {
        file_server
    }
}
